body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration:none; 
  color: #fff;
}

.home-screen {
  background-color: #1fb0db;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.todos-screen {
  background-color: #1fb0db;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.input-container {
  height: 60px;
  display: flex;
  margin: 40px;
  align-items: center;
  width: 500px;
}

.todo-input {
  flex-grow: 1;
  font-size: 20px;
  padding: 0px 10px;
  border: 0;
  height: 100%;
}

.icon-lg {
  font-size: 60px;
  margin: 10px;
}

.btn-container {
  flex: 0 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.btn-container:hover {
  color: #000;
  cursor: pointer;
}

.btn {
  border: 2px solid #fff;
  padding: 20px 50px;
  border-radius: 50px;
  font-size: 30px;
}

.btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
}

.todos-container {
  width: 500px;
}

.todo {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
  padding: 0px 20px;
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 16px;
  text-align: left;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
  margin: 20px 0px;
}